/* General Styles */
body {
    font-family: "Open Sans", sans-serif; /* Readable sans-serif font */
    line-height: 1.6; /* Improved readability */
    margin: 0;
    padding: 0;
    color: #333; /* Dark grey text */
    background-color: #F8F8FF; /* GhostWhite background */
}

/* Header */
header {
    background-color: #243C56; /* Dark Blue */
    color: #FFFFFF;
    padding: 20px 0; /* Top/bottom padding, no sides for full-width */
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header nav {
    margin-top: 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav li {
    display: inline;
    margin: 0 15px;
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 30px; /* Space out sections */
}

h2 {
    color: #243C56; /* Dark Blue */
}

p, li {
    font-size: 1.1rem;
}

/* Image Styling */
img {
    max-width: 100%; /* Make images responsive */
    height: auto;
    margin-bottom: 10px; /* Add space below images */
    border-radius: 5px; /* Slightly round image corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
    gap: 10px;
}


/* Footer */
footer {
    background-color: #243C56; /* Dark Blue */
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}