/* General Styles */
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.4; /* Adjusted line height for better readability */
    margin: 0;
    padding: 0;
    color: #495057;
    background-color: #F8F9FA;
}
/* Header */
header {
    background-color: #72909A;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    font-size: 2.8rem;
    margin: 0;
}
/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0; 
    display: flex;
    justify-content: center; 
}
nav li {
    margin: 0 15px;
}

nav a {
    color: #FFFFFF; 
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #555;
}
/* Main Content */
main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

/* Image Styling */
.profile-image {
    width: 250px; /* Adjust width as needed */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 8px;
    float: right; /* Float image to the right */
    margin: -80px 0 20px 20px; /* Adjust top margin even further */
}

section {
    margin-bottom: 20px; /* Reduced margin between sections */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
}

h2 {
    color: #495057;
    margin-bottom: 10px;
}

p, li {
    font-size: 1.1rem;
    margin-bottom: 10px; /* Reduced margin between paragraphs and list items */
}


/* Other Styles */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}


/* Footer */
footer {
    background-color: #343A40; 
    color: #F8F9FA; 
    text-align: center;
    padding: 15px 0;
}

footer a { 
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}